body { background: #d7813a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 22px; display: flex; }
.block-uploader-0 { color: #781e3a; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #87fbb1; font-size: 17px; margin-bottom: 5px; }
.block-invoice-2 { color: #4c2378; font-size: 18px; margin-bottom: 5px; }
.block-cart-3 { color: #9e4279; font-size: 12px; margin-bottom: 5px; }
.block-search-4 { color: #9e8864; font-size: 14px; margin-bottom: 5px; }
.block-cache-5 { color: #4262b9; font-size: 14px; margin-bottom: 5px; }